<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
</head>
<body>
  <h2>Добавить нового пользователя</h2>
  <form th:method="POST" th:action="@{/users/add}" th:object="${user}">
    <table>
      <tbody>
        <tr>
          <td><label for="name">Enter name: </label></td>
          <td><input type="text" th:field="*{name}" id="name"/></td>
        </tr>
        <tr>
          <td><label for="surname">Enter surname: </label></td>
          <td><input type="text" th:field="*{surname}" id="surname"/></td>
        </tr>
        <tr>
          <td><label for="age">Enter age: </label></td>
          <td><input type="text" th:field="*{age}" id="age"/></td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Создать"/>
  </form>
</body>
</html>